* {
  box-sizing:border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #d9dcd6;
}

header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: grey;
  color: #ffffff;
}

header h1 {
  font-size: 48px;
}

header nav {
  padding: 15px;
  margin: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', "Calibri" , 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color: lightgray;
  background-color: darkgray;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

main {
  width: 95%;
  display: grid;
  grid-gap: 20px;
  margin-left: 20px;
  margin-right: 40px;
  grid-template-rows: auto auto auto;
}


section { 
  margin-bottom: 20px;
  padding: 35px;
  height: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', "Calibri" , 'Trebuchet MS', cursive;
  background-color: black;
  color: #ffffff;
}

.aboutmeclass {
  display: table;
}

.aboutmeclass img {
  padding: -6px;
  display: grid;
  max-width: 100%;
  max-height: auto;
}

.aboutmeclass span {
  display: table-cell;
  vertical-align: middle;
}

.row {
 display: grid;
 flex-direction: row;
 justify-content: center;
 flex-flow: wrap;
}

.card {
 width: 20%;
 border: 1px solid #ccc;
 margin-bottom: 50px;
 transition: 0.3s;
}

.card-header {
 text-align: center;
 padding: 50px 10px;
 background: linear-gradient(to right, darkgray, silver);
 color: #fff;
}
.card-body {
 padding: 30px 20px;
 text-align: center;
 font-size: 18px;
}

.card-body .btn {
 display: block;
 color: #fff;
 text-align: center;
 background: linear-gradient(to right, grey, white);
 margin-top: 30px;
 text-decoration: none;
 padding: 10px 5px;
}

.card :hover {
 transform: scale(1.05);
 box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .card {
  width: 40%;
}

@media screen and (max-width: 1000px) {
  .container {
  width: 100%;
}

.heading{
  padding: 20px;
  font-size: 20px;
}

 .card {
  width: 80%;
}

.contactclass {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', "Calibri" , 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color: white;
}

.contactclass ul {
  list-style-type: none;
}

.contactclass ul li {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}

@media screen and (max-width: 768px) {

  main,
  nav {
    flex-direction: column;
  }

  header {
    background: darkgray;
  }

  nav,
  footer {
    background-color:lightslategray;
  }
}